[submodule "themes/zzo"]
	path = themes/zzo
	url = https://github.com/zzossig/hugo-theme-zzo.git
[submodule "themes/Blonde"]
	path = themes/Blonde
	url = https://github.com/opera7133/Blonde.git
[submodule "public"]
	path = public
	url = https://github.com/andisumbayak/andisumbayak.github.io.git
	branch = master
